<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <title>GSB</title>
</head>
<body>
    <div class="ui fixed inverted menu">
        <a href="/home" class="header item">Frais de déplacement</a>
        <a href="/historique" class="header item">Historique des fiches</a>
        <a href="/logout" class="header item">Déconnexion</a>
    </div>

    <div class="ui main container">
        <div class="ui main container">

            <%if(locals.flash && locals.flash.error){ %>
                <div class="ui negative message">
                    <%= flash.error %>
                </div>
            <% } %>
    
            <%if(locals.flash && locals.flash.succes){ %>
                <div class="ui positive message">
                    <%= flash.succes %>
                </div>
            <% } %>